.pokedex {
	padding-top: 3.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	min-height: 100vh;

	.no-caught-pokemon {
		width: 50%;
		margin: auto;
	}
}

.load-more-wrapper {
	display: flex;
	justify-content: center;
	.load-more {
		margin: 2rem auto;
	}
}
