.pokemon {
	position: relative;
	height: 20rem;
	width: 15rem;
	margin: 1rem;

	.caught-checkbox {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -35%);
		z-index: 6;

		img {
			transform: scale(1.25, 1.25);
		}
	}

	a {
		color: unset;
		text-decoration: unset;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 100%;
		border-radius: 0.3rem;

		.pokemon-upper,
		.pokemon-lower {
			width: 100%;
			height: 50%;
			padding: 1rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		.pokemon-upper {
			background-color: $color-1;
			color: $color-3;
			border-radius: 0.3rem 0.3rem 0 0;

			&.pokemon-upper-caught {
				background-color: saturate($color-1, 15%);
			}

			&:not(.pokemon-upper-caught) {
				background-color: desaturate($color-1, 25%);
			}

			.pokemon-info {
				text-align: center;
				.info-name,
				.info-order {
					font-size: 1rem;

					&.info-name {
						text-transform: capitalize;
					}
				}
			}
		}

		.pokemon-lower {
			background-color: $color-3;
			color: $color-2;
			border-radius: 0 0 0.3rem 0.3rem;

			.types {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-around;
				width: 100%;
				margin: 0 0.5rem;
				font-size: 0.8rem;

				.type {
					width: 100%;
					max-width: 50%;
				}
			}
		}

		&:hover {
			outline: 0.3rem solid rgba($color-2, 0.5);
			.pokemon-upper {
				.pokemon-image {
					animation: bounce 0.3s ease 1;
				}
			}

			.pokemon-lower {
				background-color: darken($color-3, 5%);
			}
		}

		.divider {
			background-color: $color-2;
			height: 0.5rem;
			width: 100%;
			position: absolute;
			top: 50%;
			left: 0;

			.divider-center {
				height: 2rem;
				width: 2rem;
				border-radius: 50%;
				background-color: $color-2;
				position: absolute;
				left: 50%;
				bottom: 0;
				transform: translate(-50%, 40%);
				z-index: 5;
			}
		}
	}
}
