@import url('http://fonts.cdnfonts.com/css/pokemon-solid');
// font-family: 'Pokemon Solid', sans-serif;

@import './variables.module.scss';
@import './keyframes.module.scss';

@import './pokedex-nav/_PokedexNav.scss';
@import './pokedex-nav/_PokedexSearch.scss';
@import './pokedex-nav/_PokedexFilter.scss';

@import './_Pokedex.scss';
@import './_Pokemon.scss';
@import './_PokemonToggle.scss';
@import './_PokemonDetails.scss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.type {
	text-align: center;
	padding: 0.25rem 0.5rem;
	margin: 0.25rem;
	background-color: $color-2;
	border-radius: 0.25rem;
}

.type-normal {
	background: linear-gradient(to bottom, grey 0%, darken(grey, 10%) 60%);
	color: $color-3;
}
.type-fighting {
	background: linear-gradient(
		to bottom,
		#111397 0%,
		darken(#111397, 10%) 60%
	);
	color: $color-3;
}
.type-flying {
	background: linear-gradient(
		to bottom,
		rgb(14, 143, 143) 0%,
		darken(rgb(14, 143, 143), 10%) 60%
	);
	color: $color-3;
}
.type-poison {
	background: linear-gradient(
		to bottom,
		rgb(168, 214, 0) 0%,
		darken(rgb(168, 214, 0), 10%) 60%
	);
	color: $color-2;
}
.type-ground {
	background: linear-gradient(
		to bottom,
		rgb(77, 55, 9) 0%,
		darken(rgb(77, 55, 9), 10%) 60%
	);
	color: $color-3;
}
.type-rock {
	background: linear-gradient(
		to bottom,
		rgb(83, 74, 67) 0%,
		darken(rgb(83, 74, 67), 10%) 60%
	);
	color: $color-3;
}
.type-bug {
	background: linear-gradient(
		to bottom,
		rgb(37, 56, 107) 0%,
		darken(rgb(37, 56, 107), 10%) 60%
	);
	color: $color-3;
}
.type-ghost {
	background: linear-gradient(
		to bottom,
		rgb(189, 189, 189) 0%,
		darken(rgb(189, 189, 189), 10%) 60%
	);
	color: $color-2;
}
.type-steel {
	background: linear-gradient(
		to bottom,
		rgb(80, 80, 80) 0%,
		darken(rgb(80, 80, 80), 10%) 60%
	);
	color: $color-3;
}
.type-fire {
	background: linear-gradient(
		to bottom,
		rgb(255, 136, 0) 0%,
		darken(rgb(255, 136, 0), 10%) 60%
	);
	color: $color-2;
}
.type-water {
	background: linear-gradient(
		to bottom,
		rgb(87, 179, 202) 0%,
		darken(rgb(87, 179, 202), 10%) 60%
	);
	color: $color-2;
}
.type-grass {
	background: linear-gradient(
		to bottom,
		rgb(19, 134, 48) 0%,
		darken(rgb(19, 134, 48), 10%) 60%
	);
	color: $color-3;
}
.type-electric {
	background: linear-gradient(
		to bottom,
		rgb(251, 255, 4) 0%,
		darken(rgb(251, 255, 4), 10%) 60%
	);
	color: $color-2;
}
.type-psychic {
	background: linear-gradient(
		to bottom,
		rgb(168, 13, 173) 0%,
		darken(rgb(168, 13, 173), 10%) 60%
	);
	color: $color-3;
}
.type-ice {
	background: linear-gradient(
		to bottom,
		rgb(154, 208, 218) 0%,
		darken(rgb(154, 208, 218), 10%) 60%
	);
	color: $color-2;
}
.type-dragon {
	background: linear-gradient(
		to bottom,
		rgb(99, 0, 0) 0%,
		darken(rgb(99, 0, 0), 10%) 60%
	);
	color: $color-3;
}
.type-dark {
	background: linear-gradient(
		to bottom,
		rgb(22, 4, 19) 0%,
		darken(rgb(22, 4, 19), 10%) 60%
	);
	color: $color-3;
}
.type-fairy {
	background: linear-gradient(
		to bottom,
		rgb(211, 111, 236) 0%,
		darken(rgb(211, 111, 236), 10%) 60%
	);
	color: $color-3;
}
.type-unknown {
	background: linear-gradient(
		to bottom,
		rgb(88, 88, 88) 0%,
		darken(rgb(88, 88, 88), 10%) 60%
	);
	color: $color-3;
}
.type-shadow {
	background: linear-gradient(
		to bottom,
		rgb(26, 26, 26) 0%,
		darken(rgb(26, 26, 26), 10%) 60%
	);
	color: $color-3;
}

.ability {
	text-align: center;
	padding: 0.25rem 0.5rem;
	margin: 0.25rem;
	min-width: 5rem;
	background-color: #1d1d1d;
	color: $color-3;
	border-radius: 0.25rem;
}
