@import url("http://fonts.cdnfonts.com/css/pokemon-solid");
:export {
  color1: #9b1d1d;
  color2: #201818;
  color3: #ececec;
  color4: #868686;
  bpSM: 576px;
  bpMD: 768px;
  bpLG: 992px;
  bpXL: 1200px;
  bpXXL: 1400px;
}

@keyframes bounce {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0%);
  }
}
#pokedex-nav {
  position: fixed;
  z-index: 100;
  width: 100%;
}
#pokedex-nav .navbar-brand {
  font-family: "Pokemon Solid", sans-serif;
  padding-left: 0.25rem;
}
#pokedex-nav .navbar-nav {
  width: 100%;
}

#pokedex-search {
  width: 100%;
  margin-right: 0.5rem;
  position: relative;
}

#pokedex-filter {
  position: relative;
  margin-right: 0.5rem;
}
#pokedex-filter .active-filter {
  position: absolute;
  background-color: firebrick;
  padding: 0.1rem 1rem;
  border-radius: 0.25rem;
  color: #ececec;
  right: 3rem;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  max-height: 2rem;
  text-align: center;
}
#pokedex-filter .active-filter p {
  display: none;
  margin: 0 0.5rem 0 0;
}
#pokedex-filter .active-filter:hover, #pokedex-filter .active-filter:active {
  right: -0.3rem;
  width: 9rem;
  opacity: 1;
}
#pokedex-filter .active-filter:hover p, #pokedex-filter .active-filter:active p {
  display: initial;
}
#pokedex-filter .dropdown-menu-right {
  right: 0;
}

.pokedex {
  padding-top: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
}
.pokedex .no-caught-pokemon {
  width: 50%;
  margin: auto;
}

.load-more-wrapper {
  display: flex;
  justify-content: center;
}
.load-more-wrapper .load-more {
  margin: 2rem auto;
}

.pokemon {
  position: relative;
  height: 20rem;
  width: 15rem;
  margin: 1rem;
}
.pokemon .caught-checkbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  z-index: 6;
}
.pokemon .caught-checkbox img {
  transform: scale(1.25, 1.25);
}
.pokemon a {
  color: unset;
  text-decoration: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
}
.pokemon a .pokemon-upper,
.pokemon a .pokemon-lower {
  width: 100%;
  height: 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pokemon a .pokemon-upper {
  background-color: #9b1d1d;
  color: #ececec;
  border-radius: 0.3rem 0.3rem 0 0;
}
.pokemon a .pokemon-upper.pokemon-upper-caught {
  background-color: #a90f0f;
}
.pokemon a .pokemon-upper:not(.pokemon-upper-caught) {
  background-color: #843434;
}
.pokemon a .pokemon-upper .pokemon-info {
  text-align: center;
}
.pokemon a .pokemon-upper .pokemon-info .info-name,
.pokemon a .pokemon-upper .pokemon-info .info-order {
  font-size: 1rem;
}
.pokemon a .pokemon-upper .pokemon-info .info-name.info-name,
.pokemon a .pokemon-upper .pokemon-info .info-order.info-name {
  text-transform: capitalize;
}
.pokemon a .pokemon-lower {
  background-color: #ececec;
  color: #201818;
  border-radius: 0 0 0.3rem 0.3rem;
}
.pokemon a .pokemon-lower .types {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 0 0.5rem;
  font-size: 0.8rem;
}
.pokemon a .pokemon-lower .types .type {
  width: 100%;
  max-width: 50%;
}
.pokemon a:hover {
  outline: 0.3rem solid rgba(32, 24, 24, 0.5);
}
.pokemon a:hover .pokemon-upper .pokemon-image {
  animation: bounce 0.3s ease 1;
}
.pokemon a:hover .pokemon-lower {
  background-color: #dfdfdf;
}
.pokemon a .divider {
  background-color: #201818;
  height: 0.5rem;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
}
.pokemon a .divider .divider-center {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #201818;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 40%);
  z-index: 5;
}

.pokemon-toggle {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transform: scale(1.5, 1.5);
  border-radius: 50%;
}
.pokemon-toggle:hover {
  background-color: rgba(38, 145, 207, 0.7);
}
.pokemon-toggle:active {
  margin-bottom: -0.1rem;
}
.pokemon-toggle:focus-visible {
  outline: none;
  box-shadow: 0 0 0 0.2rem #ececec;
}
.pokemon-toggle .pokeball-caught {
  filter: saturate(200%);
}
.pokemon-toggle .pokeball-caught:hover {
  filter: saturate(80%);
  transition: filter 0.3s ease;
}
.pokemon-toggle .pokeball-uncaught {
  filter: grayscale(100%);
}
.pokemon-toggle .pokeball-uncaught:hover {
  filter: grayscale(60%);
  transition: filter 0.3s ease;
}

.pokemon-details {
  position: relative;
}
.pokemon-details .links {
  position: absolute;
  left: 1rem;
  top: 1rem;
}
.pokemon-details .pokemon-toggle {
  position: absolute;
  right: 1rem;
  top: 1.25rem;
}
.pokemon-details .pokemon-details-header {
  text-align: center;
  font-family: "Pokemon Solid", sans-serif;
  background-color: #9b1d1d;
  color: #ececec;
  padding: 1rem;
}
.pokemon-details .pokemon-details-title {
  text-transform: uppercase;
  font-weight: bolder;
}
.pokemon-details .pokemon-details-body,
.pokemon-details .pokemon-details-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.pokemon-details .pokemon-details-body .types,
.pokemon-details .pokemon-details-body .abilities,
.pokemon-details .pokemon-details-body .biometrics,
.pokemon-details .pokemon-details-body .stats,
.pokemon-details .pokemon-details-footer .types,
.pokemon-details .pokemon-details-footer .abilities,
.pokemon-details .pokemon-details-footer .biometrics,
.pokemon-details .pokemon-details-footer .stats {
  background-color: #333;
  border-radius: 0.3rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.pokemon-details .pokemon-details-body .types.types,
.pokemon-details .pokemon-details-body .abilities.types,
.pokemon-details .pokemon-details-body .biometrics.types,
.pokemon-details .pokemon-details-body .stats.types,
.pokemon-details .pokemon-details-footer .types.types,
.pokemon-details .pokemon-details-footer .abilities.types,
.pokemon-details .pokemon-details-footer .biometrics.types,
.pokemon-details .pokemon-details-footer .stats.types {
  color: #ececec;
}
.pokemon-details .pokemon-details-body .types.abilities,
.pokemon-details .pokemon-details-body .abilities.abilities,
.pokemon-details .pokemon-details-body .biometrics.abilities,
.pokemon-details .pokemon-details-body .stats.abilities,
.pokemon-details .pokemon-details-footer .types.abilities,
.pokemon-details .pokemon-details-footer .abilities.abilities,
.pokemon-details .pokemon-details-footer .biometrics.abilities,
.pokemon-details .pokemon-details-footer .stats.abilities {
  background-color: #9b1d1d;
  color: #ececec;
}
.pokemon-details .pokemon-details-body .types.biometrics,
.pokemon-details .pokemon-details-body .abilities.biometrics,
.pokemon-details .pokemon-details-body .biometrics.biometrics,
.pokemon-details .pokemon-details-body .stats.biometrics,
.pokemon-details .pokemon-details-footer .types.biometrics,
.pokemon-details .pokemon-details-footer .abilities.biometrics,
.pokemon-details .pokemon-details-footer .biometrics.biometrics,
.pokemon-details .pokemon-details-footer .stats.biometrics {
  background-color: #201818;
  color: #ececec;
}
.pokemon-details .pokemon-details-body .types.stats,
.pokemon-details .pokemon-details-body .abilities.stats,
.pokemon-details .pokemon-details-body .biometrics.stats,
.pokemon-details .pokemon-details-body .stats.stats,
.pokemon-details .pokemon-details-footer .types.stats,
.pokemon-details .pokemon-details-footer .abilities.stats,
.pokemon-details .pokemon-details-footer .biometrics.stats,
.pokemon-details .pokemon-details-footer .stats.stats {
  background-color: lightgray;
  color: #201818;
  margin: 1rem 0 1rem 0;
}
.pokemon-details .pokemon-details-body .types.stats .stats-body,
.pokemon-details .pokemon-details-body .abilities.stats .stats-body,
.pokemon-details .pokemon-details-body .biometrics.stats .stats-body,
.pokemon-details .pokemon-details-body .stats.stats .stats-body,
.pokemon-details .pokemon-details-footer .types.stats .stats-body,
.pokemon-details .pokemon-details-footer .abilities.stats .stats-body,
.pokemon-details .pokemon-details-footer .biometrics.stats .stats-body,
.pokemon-details .pokemon-details-footer .stats.stats .stats-body {
  justify-content: center;
  width: 100%;
  font-size: 0.8rem;
}
.pokemon-details .pokemon-details-body .types.stats .stats-body .stat,
.pokemon-details .pokemon-details-body .abilities.stats .stats-body .stat,
.pokemon-details .pokemon-details-body .biometrics.stats .stats-body .stat,
.pokemon-details .pokemon-details-body .stats.stats .stats-body .stat,
.pokemon-details .pokemon-details-footer .types.stats .stats-body .stat,
.pokemon-details .pokemon-details-footer .abilities.stats .stats-body .stat,
.pokemon-details .pokemon-details-footer .biometrics.stats .stats-body .stat,
.pokemon-details .pokemon-details-footer .stats.stats .stats-body .stat {
  margin: 1rem;
}
.pokemon-details .pokemon-details-body .types.stats .stats-body .stat .stat-name,
.pokemon-details .pokemon-details-body .abilities.stats .stats-body .stat .stat-name,
.pokemon-details .pokemon-details-body .biometrics.stats .stats-body .stat .stat-name,
.pokemon-details .pokemon-details-body .stats.stats .stats-body .stat .stat-name,
.pokemon-details .pokemon-details-footer .types.stats .stats-body .stat .stat-name,
.pokemon-details .pokemon-details-footer .abilities.stats .stats-body .stat .stat-name,
.pokemon-details .pokemon-details-footer .biometrics.stats .stats-body .stat .stat-name,
.pokemon-details .pokemon-details-footer .stats.stats .stats-body .stat .stat-name {
  text-transform: uppercase;
  font-weight: bold;
}
.pokemon-details .pokemon-details-body .types-body,
.pokemon-details .pokemon-details-body .abilities-body,
.pokemon-details .pokemon-details-body .biometrics-body,
.pokemon-details .pokemon-details-body .stats-body,
.pokemon-details .pokemon-details-footer .types-body,
.pokemon-details .pokemon-details-footer .abilities-body,
.pokemon-details .pokemon-details-footer .biometrics-body,
.pokemon-details .pokemon-details-footer .stats-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.pokemon-details .pokemon-details-body.pokemon-details-body .pokemon-details-image,
.pokemon-details .pokemon-details-body.pokemon-details-body .pokemon-details-info,
.pokemon-details .pokemon-details-footer.pokemon-details-body .pokemon-details-image,
.pokemon-details .pokemon-details-footer.pokemon-details-body .pokemon-details-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.pokemon-details .pokemon-details-body.pokemon-details-body .pokemon-details-image.pokemon-details-image img,
.pokemon-details .pokemon-details-body.pokemon-details-body .pokemon-details-info.pokemon-details-image img,
.pokemon-details .pokemon-details-footer.pokemon-details-body .pokemon-details-image.pokemon-details-image img,
.pokemon-details .pokemon-details-footer.pokemon-details-body .pokemon-details-info.pokemon-details-image img {
  width: 100%;
}
.pokemon-details .pokemon-details-body.pokemon-details-body .pokemon-details-image.pokemon-details-info .biometrics .biometrics-body,
.pokemon-details .pokemon-details-body.pokemon-details-body .pokemon-details-info.pokemon-details-info .biometrics .biometrics-body,
.pokemon-details .pokemon-details-footer.pokemon-details-body .pokemon-details-image.pokemon-details-info .biometrics .biometrics-body,
.pokemon-details .pokemon-details-footer.pokemon-details-body .pokemon-details-info.pokemon-details-info .biometrics .biometrics-body {
  justify-content: center;
  width: 100%;
}
.pokemon-details .pokemon-details-body.pokemon-details-body .pokemon-details-image.pokemon-details-info .biometrics .biometrics-body .biometric,
.pokemon-details .pokemon-details-body.pokemon-details-body .pokemon-details-info.pokemon-details-info .biometrics .biometrics-body .biometric,
.pokemon-details .pokemon-details-footer.pokemon-details-body .pokemon-details-image.pokemon-details-info .biometrics .biometrics-body .biometric,
.pokemon-details .pokemon-details-footer.pokemon-details-body .pokemon-details-info.pokemon-details-info .biometrics .biometrics-body .biometric {
  margin: 0.5rem 1rem;
  display: flex;
  flex-direction: column-reverse;
}

@media screen and (min-width: 576px) {
  .pokemon-details .pokemon-details-body {
    flex-direction: row;
  }
  .pokemon-details .pokemon-details-body .pokemon-details-image,
.pokemon-details .pokemon-details-body .pokemon-details-info {
    width: 50%;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.type {
  text-align: center;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  background-color: #201818;
  border-radius: 0.25rem;
}

.type-normal {
  background: linear-gradient(to bottom, grey 0%, #676767 60%);
  color: #ececec;
}

.type-fighting {
  background: linear-gradient(to bottom, #111397 0%, #0c0d69 60%);
  color: #ececec;
}

.type-flying {
  background: linear-gradient(to bottom, #0e8f8f 0%, #096161 60%);
  color: #ececec;
}

.type-poison {
  background: linear-gradient(to bottom, #a8d600 0%, #80a300 60%);
  color: #201818;
}

.type-ground {
  background: linear-gradient(to bottom, #4d3709 0%, #1f1604 60%);
  color: #ececec;
}

.type-rock {
  background: linear-gradient(to bottom, #534a43 0%, #37312c 60%);
  color: #ececec;
}

.type-bug {
  background: linear-gradient(to bottom, #25386b 0%, #182445 60%);
  color: #ececec;
}

.type-ghost {
  background: linear-gradient(to bottom, #bdbdbd 0%, #a4a4a4 60%);
  color: #201818;
}

.type-steel {
  background: linear-gradient(to bottom, #505050 0%, #373737 60%);
  color: #ececec;
}

.type-fire {
  background: linear-gradient(to bottom, #ff8800 0%, #cc6d00 60%);
  color: #201818;
}

.type-water {
  background: linear-gradient(to bottom, #57b3ca 0%, #399cb5 60%);
  color: #201818;
}

.type-grass {
  background: linear-gradient(to bottom, #138630 0%, #0d5920 60%);
  color: #ececec;
}

.type-electric {
  background: linear-gradient(to bottom, #fbff04 0%, #cdd000 60%);
  color: #201818;
}

.type-psychic {
  background: linear-gradient(to bottom, #a80dad 0%, #7a097e 60%);
  color: #ececec;
}

.type-ice {
  background: linear-gradient(to bottom, #9ad0da 0%, #75bfcc 60%);
  color: #201818;
}

.type-dragon {
  background: linear-gradient(to bottom, #630000 0%, #300000 60%);
  color: #ececec;
}

.type-dark {
  background: linear-gradient(to bottom, #160413 0%, black 60%);
  color: #ececec;
}

.type-fairy {
  background: linear-gradient(to bottom, #d36fec 0%, #c542e6 60%);
  color: #ececec;
}

.type-unknown {
  background: linear-gradient(to bottom, #585858 0%, #3f3f3f 60%);
  color: #ececec;
}

.type-shadow {
  background: linear-gradient(to bottom, #1a1a1a 0%, #010101 60%);
  color: #ececec;
}

.ability {
  text-align: center;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  min-width: 5rem;
  background-color: #1d1d1d;
  color: #ececec;
  border-radius: 0.25rem;
}